<h2>Courses searching system</h2>

<%= link_to "New course", new_course_path %>

<%= form_tag courses_path,method:"get" do%>
Name<%= text_field_tag :name %>
Teacher<%= text_field_tag :teacher %>
Time<%= text_field_tag :time %>
<%= submit_tag "search"%>
<%end%>

<% @courses.each do |course| %>

<h3><%= course.name %></td></h3>
<table style="width:50%">
	<tr>
		<td><%= link_to "Show", course_path(course) %></td>
		<td><%= link_to "Edit", edit_course_path(course) %></td>
		<td><%= link_to "Delete", course_path(course),method:"delete" %></td>
  	</tr>
</table> 

<%end%>