<h2>Add a new course</h2>

<%= form_for @course do |f|%>

<table style="width:70%">
	<tr>
		<td>Name</td>
		<td><%= f.text_field :name%></td>
  	</tr>
  	<tr>
    	<td>Teacher</td>
		<td><%= f.text_field :teacher%></td>
  	</tr>
  	<tr>
    	<td>Classroom</td>
		<td><%= f.text_field :classroom%></td>
  	</tr>
  	<tr>
    	<td>Time</td>
		<td><%= f.text_field :time%></td>
  	</tr>
  	<tr>
    	<td>Credit</td>
		<td><%= f.text_field :credit%></td>
  	</tr>
</table> 

<%= f.submit%>

<%end%>