<h2>Show course</h2>
<div>
	name:
	<%= @course.name %>
</div>
<div>
	teacher:
	<%= @course.teacher %>
</div>
<div>
	classroom
	<%= @course.classroom %>
</div>
<div>
	time
	<%= @course.time %>
</div>
<div>
	credit
	<%= @course.credit %>
</div>