<h2>Course information</h2>

<table style="width:30%">
	<tr>
		<td>Name</td>
		<td><%= @course.name%></td>
  	</tr>
  	<tr>
    	<td>Teacher</td>
		<td><%= @course.teacher%></td>
  	</tr>
  	<tr>
    	<td>Classroom</td>
		<td><%= @course.classroom%></td>
  	</tr>
  	<tr>
    	<td>Time</td>
		<td><%= @course.time%></td>
  	</tr>
  	<tr>
    	<td>Credit</td>
		<td><%= @course.credit%></td>
  	</tr>
</table> 